* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}

body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2;
    font-family: "Source Sans Pro", sans-serif;
}

.header {
    background-color: gray;
    padding: 20px;
    height: 300px;
    color: white;
    z-index: 2;
    background-image: linear-gradient(to bottom, black, #0008), url("assets/img/banniere_fiasco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local, fixed;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    text-align: center;
    margin: 0;
    font-style: italic;
    text-transform: capitalize;
    z-index: 4;
}

.header img{
    width: 100%;
    height: auto;
}

.header-nav {
    overflow: hidden;
    text-align: center;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-nav a {
    color: inherit;
    padding: 0 10px;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.4);
}

.banner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    background: rgb(224, 224, 222);
}

.banner p {
    margin-top: 0;
}

.banner h1 {
    margin: 0 0 10px 0;
}

.banner a {
    padding: 5px 10px;
    text-decoration: none;
    line-height: 1;
}

.page {
    display: flex;
}

.main {
    position: relative;
    background-color: lightgray;
    font-size: 16px;
    padding: 20px;
    z-index: 1;
    flex: 1 1;
}

.main p {
    text-align: justify;
    margin-bottom: 1.5rem;
}

.sidebar {
    flex: none;
    width: 250px;
    background: #FFF;
}

.footer {
    background-color: gray;
    padding: 10px 20px;
}
